	body{padding-top:20rem!important;font-family: 'Open Sans', sans-serif; font-weight:normal; line-height: 2rem;}
	h1{font-family: 'Lora', serif;}
	p{font-family: 'Open Sans', sans-serif; font-weight:normal; line-height: 2rem;}
	#push{margin-top:150px;}
	a{color:inherit;}
	.bb:hover{border-bottom-color:#ffffff;color:#ffffff;background-color:black;transition: all ease-in-out 300ms}
	.bb{transition: all ease-in-out 300ms}
	.pv4{margin-top:50px;}
	#footpush{margin-bottom:50px;}
	.measure{max-width: 50em;}
	.linking>a, .linking{width:100%;margin:15px auto 15px auto;width:100%;text-align: center;transition: all ease-in-out 300ms}
	.linking>a:hover{background-color:#111;color:#ffffff;transition: all ease-in-out 300ms}
	@media screen and (max-width: 1051px) {
    img.w-33.fill {
        width:30%;
        margin:auto;
    }
}
	@media screen and (max-width: 820px) {
    img.w-33.fill {
        width:100%;
        margin:auto;
    }
}